.header {
    border-bottom: 1px solid cornflowerblue;
    padding: 1rem;
    list-style-type: none;
}

.header li {
    font-weight: bold;
    color: cornflowerblue;
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
